@media screen and (min-width: 1366px){
	.returnToNature { background-repeat: no-repeat !important; background-size: cover !important; }
	.ourPhilosophy { background-repeat: no-repeat !important; background-size: cover !important; }
	.researchCenter { background-repeat: no-repeat !important; background-size: cover !important;}
}
@media screen and (max-width: 1191px){
	.tourSlider .carousel { padding: 50px 20px; }
	.popularProducts, .latestNews { padding: 70px 30px; }
	.popularProducts figure, .allproducts figure, .latestNews figure, .popularProducts .col-sm-3:hover figure, .allproducts .col-sm-3:hover figure, .latestNews .col-sm-4:hover figure { background-size: cover !important; }
	.footer .row { padding: 0 15px; }
	.footer .row.fLinks > div:first-child { padding-right: 50px; }
	.selectOption > div .searchProduct input { width: 500px; }
}
@media screen and (max-width: 1024px){
	
}
@media screen and (max-width: 991px){
	.navbar-collapse { padding: 0; }
	.navbar-nav > li { margin: 0 15px; }
	.searchContent { width: 750px; }
	.commonSection h2 { right: inherit; left: 20px; width: 300px; padding:50px 20px; font-size: 42px; }
	.commonSection .commonContent { left: inherit; right: 20px; width: 470px; padding: 20px;}
	.selectOption > div .searchProduct input { width: 300px; }
	.herbalLibrary { padding: 50px 20px; }
	.herbalLibrary p { padding: 0; }
	.selectOption { padding: 0 20px; }
	.categories { padding: 30px 20px; }
	.category-section .row { margin: 0 -10px }
	.category-section .col-sm-6 { padding: 0 10px; margin-bottom: 20px; }
	.allproducts { padding: 0 20px; }
	.product { padding: 30px 45px; }
	.productContent { display: block; }
	.productContent .productImage { padding: 0; width: 100% }
	.productContent .productInfo { padding: 20px; width: 100%}
	.shareProduct { text-align: center; margin-top: 20px; }
	.shareProduct a { border: solid 1px #666; padding: 5px; border-radius: 4px; margin-bottom: -9px; }
	.shareProduct a.fb:hover { background: #395b95; border-color: #395b95;}
	.shareProduct a.twitter:hover { background: #0084b4; border-color: #0084b4;}
	.shareProduct a.fb:hover svg, .shareProduct a.twitter:hover svg { fill: #fff;}
}
@media screen and (max-width: 800px){
	.navbar-nav > li { margin: 0 12px; }
	.searchContent { width: 720px; }
	.popularProducts { padding-bottom: 30px; }
	.popularProducts .col-sm-3 { width: 50%; margin-bottom: 30px; }
	.footer .row.fLinks > div:first-child { padding-right: 0; }
}

@media screen and (max-width: 767px){
	.logoWeb { display: none; }
	.container-fluid > .navbar-header { position: relative; display: block; margin: 0; height: 120px; padding: 0 10px; text-align: left; }
	.container-fluid > .navbar-header:before { position: absolute; content: ""; bottom: 0px; left: 0; width: 100%; height: 50px; background: #865e37; }
	.forestLogo img { height: 52px; }
	.navbar-brand, .haryanaGovtLogo { position: absolute; top: 0; right: 10px; }
	.navbar-brand { right: 50px; }
	.navbar-brand img { height: 50px; margin: 10px 10px 0 0; }
	.haryanaGovtLogo img { height: 60px; margin-top: 3px; }
	.haryanaGovtLogo img:last-child { display: none; }
	.navbar-default .container-fluid {  background: #865e37; }
	.navbar-toggle { position: absolute;top: 70px; left: 10px; }
	.navbar-nav > li.search {display: none; }
	.container-fluid > .navbar-collapse { margin: 0; border: none; box-shadow: none; max-height: none }
	.navbar-nav { margin: 0;}
	.navbar-nav > li { display: block; text-align: left; margin: 0; border-bottom: solid 1px rgba(255,255,255, .1); }
	.navbar-default .navbar-nav > li > a { padding: 0 15px;  }
	.navbar-default .navbar-nav > li > a .caret { float: right; margin-top: 19px;  }
	.navbar-default .navbar-nav>li>a:hover:after,
	.navbar-default .navbar-nav>li:hover>a:after,
	.navbar-default .navbar-nav>li>a:focus:after,
	.navbar-default .navbar-nav>.active>a:after { display: none; }
	.navbar-nav .open .dropdown-menu { background: rgba(0,0,0, .1); padding: 10px; }
	.navbar-nav .open .dropdown-menu > li { display: inline-block;}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #fff; line-height: 32px; padding: 0 10px; border-radius: 4px; background: #865e37; margin: 3px 2px; }
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { color: rgba(255,255,255, .7);background: #865e37; }
	.searchBtn { display: inline-block; position: absolute; top: 70px; right: 0px; height: 50px; width: 50px; background: transparent; border: none; line-height: 60px; text-align: center; }
	.searchBtn svg { width: 18px; height: 20px; fill: #fff; }
	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover { border: none; background: none; margin-left: -5px; }
	.searchContainer { top: 70px; background: #865e37 }
	.searchContent { width: 100%; z-index: 99;}
	.searchContent input { height: 50px; border: 0; margin: 0; padding: 0 15px; }
	.searchContent button { height: 50px; width: 50px; margin: 0; }
	.navbar-default .navbar-toggle .icon-bar { background: #fff; }
	.navbar-toggle span.icon-bar {transition: all .5s .5s;height: 3px;width: 26px}
    .navbar-default .navbar-toggle .icon-bar { background: #fff; border-radius: 2px}
    .navbar-default .navbar-toggle.active span:nth-child(2) { transform: rotate(45deg); transform-origin: 10% 10%}
    .navbar-default .navbar-toggle.active span:nth-child(3) { opacity: 0 }
    .navbar-default .navbar-toggle.active span:nth-child(4) { transform: rotate(-45deg);transform-origin: 10% 90% }
    .returnToNature { height: 400px; }
    .returnToNature .content h1, .herbalLibrary h2 { font-size: 50px; }
    .returnToNature .content a { width: 185px; }
    #homeCarousel .carousel-indicators {
    left: 50%;
    top: inherit;
    right: inherit;
    bottom: 10px;
    width: 60%; margin-top: 0;}
    .tourSlider .carousel, .tourContent .tourImage { padding: 0; }
    .carousel-fade .carousel-inner .item .tourContent { display: block; }
	.commonSection h2, .commonSection .commonContent { display: block; position: inherit; width: 100%; left: inherit; right: inherit; margin: 0; top: inherit; padding: 20px; font-size: 32px; text-align: center; }
	.commonSection h2 br { display: none; }
	.commonSection { height: auto; }
	.popularProducts, .latestNews { padding: 20px; border-top: solid 2px #f0f0f0; }
	.popularProducts > h2, .latestNews > h2 { font-size: 32px; padding-bottom: 30px; margin-bottom: 30px; }
	.popularProducts .col-sm-3 { width: 100%; text-align: center; margin-bottom: 20px; }
	.popularProducts .col-sm-3 > a {background: #f5f5f5; display: inline-block; width: 100%;}
	.latestNews .col-sm-4 { margin-bottom: 30px; text-align: center; padding-bottom: 15px; }
	.latestNews .col-sm-4:before {position: absolute; content: ""; background: #f5f5f5;  height: 100%; left: 15px; right: 15px; z-index: -1; }
	.latestNews .col-sm-4 h4, .latestNews .col-sm-4 h5, .latestNews .col-sm-4 p { padding: 0 15px; }
	.latestNews .col-sm-4:last-child { margin: 0; }
	.footer { padding: 30px 15px 0; }
	.footer .row.fLinks > div { padding: 0 5px; margin-bottom: 30px; text-align: center; }
	.footer .row.fLinks > div.col-sm-1 { display: none; }
	.footer .row.fLinks > div h4 { margin-bottom: 20px; }
	.footer .row.fLinks > div ul li { display: inline-block; }
	.footer .row.fLinks > div ul li a, .footer .row.fLinks > div p a, .footer .row.social ul li a { display: block; line-height: 30px; padding: 0 10px; border-radius: 4px; background: rgba(0,0,0, .2); margin: 4px 2px; transition: all .5s ease; }
	.footer .row.fLinks > div p a { display: inline-block; }
	.footer .row.social ul li {padding: 0 2px; }
	.footer .row.social ul li a svg{ margin-top: 10px; }
	.footer .row.fLinks > div ul li a:hover, .footer .row.fLinks > div p a:hover, .footer .row.social ul li a:hover { background: rgba(0,0,0, .4); color: #fff; }
	.footer .row.social ul li a:hover svg { fill: #fff; }
	.herbalLibrary { padding: 20px; }
	.herbalLibrary p {padding: 0;}
	.selectOption { padding: 0; display: block; }
	.selectOption > div { display: block; }
	.selectOption > div .selectCategory { float: none; border: none;}
	.selectOption > div .selectCategory button { padding: 0 20px; width: 100%; margin: 0;}
	.selectOption > div .searchProduct { width: 100%; padding: 20px; background: rgba(0,0,0,.1) }
	.selectOption > div .searchProduct input { width: 100%; border: solid 2px #baa48e; height: 40px; border-radius: 20px;}
	.selectOption > div .sort { text-align: center; }
	.categories { padding: 20px; }
	.category-section { border: none; }
	.category-section .col-sm-6 { padding: 0; margin: 0;border-bottom: solid 2px #baa48e; }
	.categories a.proImg h4 { padding: 20px; }
	.allproducts { padding: 20px; padding-bottom: 0; }
	.allproducts .col-sm-4 { margin-bottom: 20px; }
	.allproducts .col-sm-4 > a { display: inline-block; width: 100%; padding:5px 15px; background: #f5f5f5; }
	.customPagination { padding: 0; margin: 0; }
	.customPagination .row { margin: 0; }
	.customPagination .col-lg-12 { padding: 0; }
	.customPagination ul { padding: 15px 0; margin: 0; }
	.customPagination ul li a { padding: 0 10px; border: solid 1px #ccc; border-radius: 4px; margin: 2px 0; }
	.customPagination ul li.active a { color: #fff; background: #666;border: solid 1px #666; }
	.customPagination ul li a:after, .customPagination ul li:first-child a svg, .customPagination ul li:last-child a svg { display: none; }
	.product { padding: 0 15px; }
	.productContent .productInfo h2 { font-size: 32px; }
	.productDetails .row > div:first-child { padding-bottom:0; opacity: .8; text-transform: uppercase; font-size: 13px; }
	.productDetails .row > div:last-child { padding-top:0; }
	
	.descriptions .nav-tabs { white-space: nowrap;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar; }
	.descriptions .nav-tabs li { padding: 0; }
	.descriptions .nav-tabs li a { line-height: 40px; padding: 0 15px; font-size: 16px; }
	.descriptions .nav-tabs li.active a::after { bottom: 0px; }
	.descriptions .nav-tabs li::after { display: none; }
	.descriptions .tab-pane { padding: 0 20px; }

}

