body { font-family: 'Roboto', sans-serif; }
a, a:hover, a:focus, a:active { text-decoration: none; }
.wrapper { max-width: 1366px; margin: auto; }
.navbar-default { background: transparent; border:none; margin: 0;z-index: 99; }
.navbar-default .container-fluid { padding: 0; }
.container>.navbar-header,
.container-fluid>.navbar-header { width: 100%; height: 100px; text-align: center;background: #fff; padding: 0 15px; float: none; display: inline-block; }
.forestLogo { display: inline-block; padding: 9px 0; }
.haryanaGovtLogo { float: right; }
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { padding: 0; margin: 0; height: auto; }
.navbar-default .navbar-collapse { background: #865e37; transition: all .5s ease; position: relative;}
.homePage .navbar-default .navbar-collapse { background: rgba(0,0,0,.4); transition: all .5s ease; }
.navbar-default .navbar-collapse.fixed { position: fixed; top: 0; left: 0; width: 100%; z-index: 99; background: #865e37; }
.navbar-default .navbar-collapse.fixed .navbar-nav>li>a { color: #fff; }
body.menufixed { padding-top: 40px; }
.navbar-nav { width: 100%;text-align: center; float: none; }
.navbar-nav>li { display: inline-block; float: none; margin: 0 20px; }
.navbar-default .navbar-nav>li>a { color: #fff; padding: 0; line-height: 40px; position: relative;  }
.homePage .navbar-default .navbar-nav>li>a { color: #fff;}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus { background: transparent; color: #fff;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { background: transparent; color: #fff; }
.navbar-default .navbar-nav>li>a:hover:after,
.navbar-default .navbar-nav>li:hover>a:after,
.navbar-default .navbar-nav>li>a:focus:after,
.navbar-default .navbar-nav>.active>a:after { position: absolute; content: ""; left: 0; bottom: 5px; width: 100%; height: 1px; background: #fff; }

.navbar-nav>li>.dropdown-menu { text-align: left; }
.navbar-nav>li.search svg { width: 12px; height: 12px; fill: #fff; margin-left: 5px; }
.homePage .navbar-nav>li.search svg { fill: #fff; }
.homePage .fixed .navbar-nav>li.search svg { fill: #fff; }
.navbar-default .navbar-nav>.open>a svg, .navbar-default .navbar-nav>.open>a:hover svg, .navbar-default .navbar-nav>.open>a:focus svg { fill: #fff; }
.navbar-nav.opacity0 { opacity: 0; }
.searchBtn { display: none; }
.searchContainer { position: absolute; top: 0; left: 0; width: 100%; text-align: center;  display: none;}
.searchContent { width: 850px; display: inline-block;}
.searchFlex {  display: flex;align-items: flex-end; width: 100%; }
.searchContent input {display: inline-block; flex-grow: 1; height: 32px; margin-bottom: 8px; background: transparent; border:none; outline: none; color: #fff; border-bottom: solid 1px rgba(255,255,255, .6);}
.searchContent input::-webkit-input-placeholder { color: rgba(255,255,255, .6);}
.searchContent input::-moz-placeholder { color: rgba(255,255,255, .6);}
.searchContent input:-ms-input-placeholder { color: rgba(255,255,255, .6);}

.searchContent button {display: inline-block; height: 40px; width: 40px; color: #fff;background: transparent; border:none; outline: none; text-align: center; margin-right: 30px; }
.searchContent button:hover { background: rgba(0,0,0,.1); }
.searchContent button.times {font-size: 30px; line-height: 20px; font-weight: 200; margin: 0;}
.searchContent button svg {display: inline-block; margin-bottom: -3px; height: 18px; width: 18px; fill: #fff;}
.searchContent button.times svg {display: inline-block; margin-bottom: 3px; height: 14px; width: 14px; fill: #fff;}


.returnToNature { background-position: top center; background-attachment: fixed !important;  height: 600px;display: flex; align-items: center;justify-content: center;  position: relative;}

.returnToNature .content { display: inline-block; padding: 0 50px; position: relative;z-index: 1; text-align: center;  }
.returnToNature .content h1 { font-family: 'Oswald', sans-serif; font-size: 90px; color: #fff; text-transform: uppercase; font-weight: 200; }
.returnToNature .content a { display: inline-block; height: 40px; border:solid 1px #fff; background: rgba(0,0,0, .5); font-size: 18px; color: #fff; position: relative; padding-left: 60px; padding-right: 15px; margin: 30px 20px 0; border-radius: 4px; line-height: 40px; font-weight: 300; transition: all .5s ease;}
.returnToNature .content a figure { position: absolute; width: 60px; height: 60px;  left: -10px; top: -11px; background: #ffc81b; border-radius: 50%; line-height: 57px; text-align: center;display: flex; align-items: center;justify-content: center; transition: background .5s ease;}
.returnToNature .content a.youtube figure { background: #d22114;  }
.returnToNature .content a:hover figure, .returnToNature .content a.youtube:hover figure { background: #fff; box-shadow: 0 0 10px rgba(0,0,0,.4); }
.returnToNature .content a figure svg { width: 34px; height: 34px; fill: #fff; transition: fill .5s ease; }
.returnToNature .content a:hover figure svg {fill: #ffc81b}
.returnToNature .content a.youtube:hover figure svg { fill: #d22114; }
#homeCarousel {  margin-top: -40px;  }
#homeCarousel .carousel-indicators { left: inherit; top: 50%; right: 20px; bottom: inherit; width: 20px; margin-top: -30px;  }
#homeCarousel .carousel-indicators li { border: solid 2px #fff; width: 12px; height: 12px;margin: 0; }


.tourSlider .carousel { padding: 80px; }
.carousel-fade .carousel-inner .item { -webkit-transition-property: opacity;transition-property: opacity;}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { opacity: 0;}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1;}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { left: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control { z-index: 2; width: 34px; height: 34px; top: inherit; right: inherit; left: 50%; bottom: 110px; opacity: 1;}
.carousel-fade .carousel-control img {width: 34px; height: 34px; }
.carousel-fade .carousel-control.left { margin-left: -100px; background-image: none; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);}
.carousel-fade .carousel-control.right { margin-left: -60px; background-image: none;}
.carousel-fade .carousel-inner .item .tourContent { display: -ms-flex; display: -webkit-flex;display: flex; }
.tourContent .tourInfo { background:#9ba33d url(../images/greenNoise.png) top left; padding: 30px; color: #fff;}
.tourContent .tourImage { padding:20px 0;}
.tourContent .tourImage a { position: absolute;background: #ffc81b;  border-radius: 50%;  width: 60px; height: 60px; right: 20px; bottom: 40px; transition: all .5s ease;}
.tourContent .tourImage a figure { display: block; width: 60px; height: 60px; text-align: center; display: flex; align-items: center;justify-content: center;}
.tourContent .tourImage a figure svg { width: 34px; height: 34px; fill: #fff; transition: fill .5s ease; }
.tourContent .tourImage a:hover {background: #fff; box-shadow: 2px 2px 10px rgba(0,0,0,.4);}
.tourContent .tourImage a:hover figure svg { fill: #ffc81b; }


.tourContent .tourInfo h2 { margin-top:0;  text-transform: uppercase; font-family: 'Oswald', sans-serif; font-size: 42px; }
.tourContent .tourInfo p { font-size: 15px; font-weight: 300; line-height: 26px;}
.tourContent .tourInfo .timming { line-height: 16px; padding: 10px 0; font-size: 16px; }
.tourContent .tourInfo .timming img { width: 18px; height: 18px; margin-right: 6px; margin-top: -3px; }

.ourPhilosophy { background: url(../images/ourPhilosophyBg.jpg) no-repeat top center; }
.commonSection { position: relative; background-attachment: fixed; height: 600px; display: block; }
.commonSection h2 { text-transform: uppercase; font-family: 'Oswald', sans-serif; font-size: 48px; padding: 50px; padding-right: 150px; margin: 0; background:#9ba33d url(../images/greenNoise.png) top left; position: absolute; top: 30%; right: 50%; color: #fff;}
.commonSection .commonContent { background: #fff; color: #999; padding: 40px; position: absolute; top: 38%; left: 50%; width: 570px; margin-left: -100px;}
.commonSection .commonContent p {margin: 0; line-height: 26px; font-size: 15px;}
.commonSection .commonContent a, .knowMore { display: inline-block; margin-top:20px; color: #9ea640; height: 20px; transition: color .5s ease; font-size: 15px;}
.knowMore { margin-left: -13px; }
.commonSection .commonContent a svg, .knowMore svg { fill:#9ea640; height: 20px; width: 20px; float: right; margin-left: 10px; transition: margin .5s ease; }
.commonSection .commonContent a:hover, .knowMore:hover {color: #9ea640;}
.commonSection .commonContent a:hover svg, .knowMore:hover svg {margin-left: 15px;}


.popularProducts, .latestNews { padding: 70px 50px; }
.popularProducts > h2, .latestNews > h2 { text-transform: uppercase; font-family: 'Oswald', sans-serif; font-size: 36px; color: #333; margin: 0; padding-bottom: 40px; position: relative; text-align: center; margin-bottom: 50px;}
.popularProducts > h2:after, .latestNews > h2:after { position: absolute; content:""; bottom: 0; width: 150px; height: 2px; background: #50990b;  left: 50%; margin-left: -75px; }
.popularProducts figure, .allproducts figure, .latestNews figure { position: relative; height: 250px; background-position: center center !important; background-size: 100% auto !important; transition:all .5s ease;}
.popularProducts .col-sm-3:hover figure,
.allproducts .col-sm-3:hover figure,
.latestNews .col-sm-4:hover figure { background-size: 120% auto !important; }
.popularProducts figure a.quickView, .allproducts figure a.quickView { position: absolute; top: 0; left: 0; width: 100%; height: 100%; line-height: 25px;color: #fff; font-size: 16px; display: flex; align-items: center;justify-content: center; opacity: 0; transition: opacity 1s ease; }
.quickView span { display: inline-block; text-align: center; }
.popularProducts .col-sm-3:hover figure a.quickView,
.allproducts .col-sm-4:hover figure a.quickView { opacity: 1; z-index: 2; }
.popularProducts figure a.quickView svg,
.allproducts figure a.quickView svg { width: 42px; height: 42px; display: inline-block;}


.quickView #lid {
  animation: blink 2.4s infinite;
}
.quickView #eye {
  animation: squeeze 2.4s infinite;
}

@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(15px) scaleY(0)
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(3px) scaleY(0.8)
  }
  100% {
    animation-timing-function: ease-out;
  }
}

.popularProducts figure a.proImg img,
.allproducts figure a.proImg img { width: 100%;}
.popularProducts > div h4,
.allproducts > div h4 { font-size: 20px; font-family: 'Oswald', sans-serif; color: #333; font-weight: 400; text-transform: uppercase; transition: color .5s ease; letter-spacing: 1px; }
.popularProducts > div  h5,
.allproducts > div  h5 { font-size: 14px; color: #9ea640; font-weight: 300;  transition: color .5s esae;}
.popularProducts .col-sm-3:hover h4, .allproducts .col-sm-4:hover h4 { color: #9ea640 }
.popularProducts .col-sm-3:hover h5, .allproducts .col-sm-4:hover h5 { color: #333 }

.researchCenter { background: url(../images/researchCenterBg.jpg) no-repeat top center; background-attachment: fixed;}


.latestNews .col-sm-4 h4 { font-size: 22px; font-family: 'Oswald', sans-serif; color: #333; text-transform: uppercase; margin-top: 20px;transition: color .5s ease; }
.latestNews .col-sm-4:hover h4 { color:#9ea640;  }
.latestNews .col-sm-4 h5 { font-size: 14px; color: #9ea640; font-weight: 300; transition: color .5s ease; }
.latestNews .col-sm-4:hover h5 { color: #333;}
.latestNews .col-sm-4 p { font-size: 14px; color: #999; font-weight: 300; margin-bottom: 0; }
.latestNews .col-sm-4 a { display: inline-block; margin-top:20px; color: #9ea640; height: 20px; transition: color .5s ease;}
.latestNews .col-sm-4 a svg { fill:#9ea640; height: 20px; width: 20px; float: right; margin-left: 10px; transition: all .5s ease; }
.latestNews .col-sm-4 a:hover svg {margin-left: 15px;}

.footer { background:#9ba33d url(../images/greenNoise.png) top left; padding: 50px 15px 0; }
.footer .row { padding: 0 35px; }
.footer .row.fLinks { padding-bottom: 30px; }
.footer .row.fLinks > div:first-child { padding-right: 90px; }
.footer .row.fLinks > div h4 { font-size: 22px; font-family: 'Oswald', sans-serif; color: #fff; text-transform: uppercase; margin-top: 0px; margin-bottom: 30px; font-weight: 300; }
.footer .row.fLinks > div ul li, .footer .col-sm-4 p { font-size: 16px; color: #fff; line-height: 30px; font-weight: 300; }
.footer .row.fLinks > div ul.timming li { display: inline-block; width: 100%; text-transform: uppercase; border-bottom: solid 1px rgba(0,0,0, .4); height: 18px; margin-bottom: 10px; }
.footer .row.fLinks > div ul.timming li span { float: left; background:#9ba33d url(../images/greenNoise.png) top left; padding-right: 5px;}
.footer .row.fLinks > div ul.timming li span:last-child { float: right; color: #484d12; font-weight: 500; padding-left: 5px; }
.footer .row.fLinks > div ul li a, .footer .row.fLinks > div p a { color: #fff;transition: color .5s ease; }
.footer .row.fLinks > div ul li a:hover, .footer .row.fLinks > div p a:hover { color: #484d12; }
.footer .row.social { text-align: center; padding: 20px 0;border-top: solid 1px #fff; }
.footer .row.social ul {margin: 0;}
.footer .row.social ul li {display: inline-block; padding: 0 15px;}
.footer .row.social ul li a svg {height: 24px; fill: #fff; width: 24px;transition: fill .5s ease;}
.footer .row.social ul li a:hover svg {fill: #484d12; }

/*neha*/

.herbalLibrary{ background: #faf1e7; color: #865e37; text-align: center; margin-top:0px; padding: 60px 50px; position: relative; }
.herbalLibrary h2{ text-transform: uppercase; margin: 0; font-weight: 300; font-size: 60px; color: #865e37;font-family: 'Oswald', sans-serif;}
.herbalLibrary p{ padding: 0 100px; margin: 0;}
.categories { padding: 30px 50px 0;}
.allproducts{ padding: 40px 50px 10px;}
.category-section{ border-bottom: 1px solid #865e37; display: block;}
.categories > h4, .allproducts > h4{ color: #865e37; text-transform: uppercase; font-weight: 500; margin-top: 0; margin-bottom: 20px;}
.categories a.proImg{  display: inline-block; width: 100%; position: relative; 
}
.category-section .row { margin: 0 -20px}
.category-section .col-sm-6{ margin-bottom: 40px; padding: 0 20px;}
.categories a.proImg::after{ z-index: 0; opacity: .5; content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06) 9%, rgba(0, 0, 0, 0.18) 22%, rgba(0, 0, 0, 0.82) 75%, rgba(0, 0, 0, 0.94) 100%);
	/* FF3.6-15 */
	
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06) 9%, rgba(0, 0, 0, 0.18) 22%, rgba(0, 0, 0, 0.82) 75%, rgba(0, 0, 0, 0.94) 100%);
	/* Chrome10-25,Safari5.1-6 */
	
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06) 9%, rgba(0, 0, 0, 0.18) 22%, rgba(0, 0, 0, 0.82) 75%, rgba(0, 0, 0, 0.94) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
	/* IE6-9 */
}
.categories  a.proImg img{ width: 100%;}
.categories a.proImg h4{ z-index: 1; position: absolute; padding:25px 30px; bottom: 0px; width: 100%; left: 0; margin: 0; color: #fff; text-transform: uppercase;font-family: 'Oswald', sans-serif; font-size: 30px; font-weight: 300; letter-spacing: 1px; transition: 0.5s ease-in-out;}

.popularProducts a.proImg,
.allproducts a.proImg{ display: inline-block; width: 100%; position: relative;}
.latestNews .col-sm-4 figure { position: relative; }
.popularProducts .col-sm-3 figure:after,
.latestNews .col-sm-4 figure:after,
.allproducts .col-sm-4 figure:after{
    height: 100%;
	content: '';
    left: 0;
    position: absolute;
    top: 0;
    transition: background 1s cubic-bezier(0.4, 0.87, 0.4, 0.87) 0s;
    width: 100%;
opacity: 0; visibility:hidden; }
.popularProducts .col-sm-3:hover figure:after,
.latestNews .col-sm-4:hover figure:after,
.allproducts .col-sm-4:hover figure:after{opacity: 1; visibility: visible; z-index: 1;background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;}
.allproducts .row { margin: 0 -20px; }
.allproducts .col-sm-4 { margin-bottom: 40px; padding: 0 20px; }

.selectOption{ background:#865e37; padding: 0px 50px; display: inline-block; width: 100%; display: flex; align-items: flex-end;}
.selectOption > div { display: inline-block; font-size: 15px; }
.selectOption > div.itemLeft { flex-grow: 1;}
.selectOption > div .selectCategory { float: left; border-right: solid 2px #baa48e; }
.selectOption > div .selectCategory button { background: transparent; border: none; color: #fff; text-transform: uppercase;line-height: 60px; outline: none; padding: 0; margin-right: 20px; }
.selectOption > div .selectCategory.open button { background: rgba(0,0,0, .1);}
.selectOption > div .searchProduct input { height: 60px; padding: 0 20px; border:none; background: transparent; width: 600px; outline: none; color: #fff;}
.selectOption > div .searchProduct input::-webkit-input-placeholder { color:rgba(255,255,255, .4);}
.selectOption > div .searchProduct input::-moz-placeholder { color:rgba(255,255,255, .4);}
.selectOption > div .searchProduct input:-ms-input-placeholder { color:rgba(255,255,255, .4);}
.selectOption > div .searchProduct input:-moz-placeholder { color:rgba(255,255,255, .4);}

.selectOption > div .sort {  }
.selectOption > div .sort button { background: #fff; border: none; color: #865e37; text-transform: uppercase;line-height: 30px; outline: none; padding: 0 15px; margin: 15px 0; font-size: 15px; }
.selectOption > div .sort button .caret { margin-top: -2px; }

/* pagination */
.customPagination { padding: 0 50px; text-align: center; margin-bottom: 30px;}
.customPagination ul { border-top: solid 1px #eee; }
.customPagination ul li { display: inline-block;}
.customPagination ul li a { display: block; color: #999; font-size: 12px; line-height: 40px; padding: 0 15px; position: relative; font-weight: 200; }
.customPagination ul li.active a { color: #333; }
.customPagination ul li a:after { position: absolute; content: ""; left: 0; top: -1px; height: 1px;  width: 100%;  }
.customPagination ul li:hover a:after { background: #999; }
.customPagination ul li.active a:after { background:#333; }
.customPagination ul li a svg { fill: #999; width: 18px; height: 18px; margin-bottom: -5px; }
.customPagination ul li:first-child a svg { margin-right: 5px; }
.customPagination ul li:last-child a svg { margin-left: 5px; }
.customPagination ul li a.flip svg { transform: rotate(180deg); }

/* 360 */
.whfTrans { position: absolute; top: 15px; left: 15px; z-index: 15; }
.backToMap, .backToMap:hover { position: absolute; top: 0px; right: 0px; color: #fff; line-height: 30px; font-size: 18px; font-family: 'Oswald', sans-serif; z-index:5; width: 180px; line-height: 50px; text-align: center;transition: all .5s .5s ease;}
.backToMap svg { width: 30px; height: 30px; fill: #fff; margin-right: 10px; margin-bottom: -7px; }
.social360 { position: absolute; bottom:0px; right: 0px; color: #fff; font-size: 18px; font-family: 'Oswald', sans-serif;z-index: 5;width: 180px; display: flex; align-items: center;justify-content: center;transition: all .5s .5s ease; height: 50px;}
.social360 div.share {display: inline-block; width: 30px; height: 50px; margin-right: 15px;position: relative;padding: 12px 0;}
.social360 div.share > svg { width: 26px; height: 26px; fill: #fff;float: left; }
.social360 div.share span {position: absolute; bottom: 40px; left: 0; height: 0;  overflow: hidden; transition: height .5s ease; line-height: 30px;}
.social360 div.share:hover span { height: 85px;}
.social360 div.share span a { display: inline-block; width: 28px; height: 28px; border-radius: 50%; margin: 2px 0; transition: all .5s ease;}
.social360 div.share span a svg { width: 30px; height: 30px; fill: #fff; float: left; transition: all .5s ease;}
.social360 div.share span a:hover { background: #fff; }
.social360 div.share span a:hover svg { fill: #395b95; }
.social360 div.share span a:last-child:hover svg { fill: #0084b4; }
.clickAndDragContainer { position: fixed; top: 0; left: 0; width: 100%; height: 100%; text-align: center; z-index: 1;display: flex; align-items: center;justify-content: center; background: rgba(0,0,0, .5); }
.clickAndDrag { width: 200px; display: inline-block; }
.dragIcon { width: 200px;height: 200px; background: rgba(54,58,10, .8); display: inline-block; border-radius: 50%; padding: 15px; }
.dragIcon figure { position: relative; width: 170px;height: 170px; background: #a3af2c; border-radius: 50%; display: flex; align-items: center;justify-content: center;}
.dragIcon figure > svg { width: 42px;height: 42px; fill: #fff;}
.dragIcon figure span.vertical { width: 22px;height: 100%; position: absolute; top: 0; left: 50%; margin-left: -11px; }
.dragIcon figure span.horizontal { width: 100%;height: 22px; position: absolute; top: 50%; left:0; margin-top: -11px; }
.dragIcon figure span:before { position: absolute; content: ""; width: 22px; height: 22px; background: url(../images/dragArrow.svg) no-repeat top center; }
.dragIcon figure span:after { position: absolute; content: ""; width: 22px; height: 22px; background: url(../images/dragArrow.svg) no-repeat top center; }
.dragIcon figure span.vertical:before { transform: rotate(-90deg); top: 15px; left: 0; }
.dragIcon figure span.vertical:after { transform: rotate(90deg);  bottom: 15px; left: 0;}
.dragIcon figure span.horizontal:before { transform: rotate(-180deg); left: 15px; top: 0; }
.dragIcon figure span.horizontal:after { right: 15px; top: 0;}
.clickAndDrag h4 { font-family: 'Oswald', sans-serif; font-size: 20px; color: #fff; text-transform: uppercase; line-height: 28px; }
.clickAndDrag a { display: inline-block; height: 30px; padding: 0 30px; background: #a3af2c;font-family: 'Oswald', sans-serif; font-size: 20px; color: #fff;}

.moreViewSlide { position: fixed; top: 0; right: -175px; background: rgba(163,175,44, .85); width: 180px; height: 100%; z-index: 4; overflow: auto; transition: all .5s ease; }
.backToMap.active, .social360.active { background: rgba(0,0,0,.1); }

.moreViewSlide { padding: 50px 0; }
.moreView { text-align: center; margin: 30px 0; cursor: pointer; }
.moreView .figureCont { display: inline-block; width: 110px; height: 110px; background: rgba(54,58,10, .85); padding: 5px; border-radius: 50%; transition: all .5s ease;}
.moreView.active .figureCont { background: rgba(255,255,255, .85);}
.moreView figure { display: inline-block; width: 100px; height: 100px; border-radius: 50%; background-size: cover !important; background-position: center center !important; }
.moreView h4 { font-family: 'Oswald', sans-serif; font-weight: 400; font-size: 18px; color: rgba(54,58,10, .85); text-transform: uppercase; letter-spacing: 1px; line-height: 20px; margin:6px 0;transition: all .5s ease; }
.moreView.active h4 { color: #fff; }

.slideToggle { position: fixed; top: 50%; right: 5px; margin-top: -30px;   background: rgba(163,175,44, .85); z-index: 99; width: 60px; height: 60px; display: flex; align-items: center;justify-content: center; border-radius: 6px 0 0 6px;transition: all .5s ease;}
.slideToggle img { transform: rotate(180deg); width: 30px; transition: all .5s .5s ease; }

.moreViewSlide.active { right: 0; }
.slideToggle.active { right: 180px; }
.slideToggle.active img { transform: rotate(0deg); }

/* Watch Video */
.watchVideoCont {position: fixed; width: 100%; height: 100%;background: transparent; top: 0; left: 0; z-index: 99; display: none; }
.popClose { font-size: 50px; font-weight: 200; top: 60px; right: 20px; position: fixed; width: 60px; line-height: 60px; z-index: 1; text-transform: uppercase; text-align: center; color: #333;background: #fff; transition: all .5s ease; border-radius: 50%;}
.popClose:hover { background: #fff; color: #c00; }
.watchVideoCont iframe { z-index: 0; }
body.noScroll { overflow: hidden; }

/* Product Page */
.product { padding: 50px 65px; }
.productContent { display: -ms-flex; display: -webkit-flex;display: flex; }
.productContent .productInfo { background:#9ba33d url(../images/greenNoise.png) top left; padding: 30px; color: #fff; transition: all .5s ease;}
.productContent .productInfo.active { width: 0px; padding: 0; opacity: 0; overflow: hidden;  }
.productContent .productImage { padding:20px 0;cursor: nwse-resize; transition: all .5s ease;}
.productContent .productImage img { width: 100%; }
.productContent .productImage.active { width: 100%; text-align: center; cursor: nesw-resize;}
.productContent .productInfo h2 { font-family: 'Oswald', sans-serif; font-size: 34px; font-family: 100; text-transform: uppercase; margin-top:0; margin-bottom: 20px; }
.productDetails .row { margin: 0; border-top: solid 1px rgba(255,255,255, .5); }
.productDetails .row > div { padding: 15px 0; font-size: 15px; font-weight: 200; }
.productDetails .row > div.col-sm-9 { font-weight: 400; }
.shareProduct { color: #666; padding: 0; }
.shareProduct a { line-height: 20px; display: inline-block; margin: 0 5px;margin-bottom: -2px;  }
.shareProduct a svg { float: right; width: 18px; height: 18px; fill: #666; transition: fill .5s ease;}
.shareProduct a.fb:hover svg { fill: #395b95;}
.shareProduct a.twitter:hover svg { fill: #0084b4;}


.descriptions { border-top: solid 1px #999; border-bottom: solid 1px #999; margin-top: 30px; padding-bottom: 40px; }
.descriptions .nav-tabs { text-align: center; border: none; margin: 20px 0 40px; }
.descriptions .nav-tabs li { display: inline-block; float: none; margin: 0 -2px; position: relative; padding: 0 30px; }
.descriptions .nav-tabs li:first-child { padding-left: 0; }
.descriptions .nav-tabs li:last-child { padding-right: 0; }
.descriptions .nav-tabs li a {color: #666666; border:none; font-size: 20px; text-transform: uppercase;position: relative; margin: 0; padding: 0; line-height: 60px; font-weight: 200;}
.descriptions .nav-tabs li a:hover { background: transparent; color: #333; }
.descriptions .nav-tabs li.active a { color: #9ea640; border: none;  }
.descriptions .nav-tabs li.active a:hover { border: none; }
.descriptions .nav-tabs li:before { position: absolute; content: ""; bottom: 0; left: 0; width: 100%; height: 1px; background: #999; z-index: 1; }
.descriptions .nav-tabs li:after { position: absolute; content: ""; top: 15px; right: 0; width: 1px; height: 30px; background: #999; z-index: 1; }
.descriptions .nav-tabs li:last-child:after { display: none; }
.descriptions .nav-tabs li.active a:after { position: absolute; content: ""; bottom: -1px; left: 0; width: 100%; height: 3px; background: #9ea640; z-index: 2; }
.descriptions .tab-pane { font-size: 15px; color: #666; line-height: 24px; font-weight: 200; text-align: justify; }

.otherProducts { padding-top: 0px; }

/* QuickView */
.modal-dialog.QuickView { width: 1000px; margin: 7% auto; }
.modal-dialog.QuickView h2 { font-size: 24px;font-weight: 200; text-transform: uppercase; margin-top: 0; }
.modal-dialog.QuickView button.close { float: none; position: absolute; top: -20px; right: -20px; width: 40px; height: 40px; line-height: 40px; font-size: 24px; opacity: 1; border-radius: 50%; background: #9ea640; color: #fff; z-index: 9; outline: none; }
.modal-dialog.QuickView button.close svg { width: 16px; height: 16px; fill: #fff; }
.modal-content { border: none; border-radius: 0; }
.modal-dialog.QuickView .row.productContent { margin: 0; }
.modal-dialog.QuickView .row.productContent .productDetails .row > div { font-size: 14px;padding: 12px 0;}
.modal-dialog.QuickView .productContent .productInfo { padding-bottom: 10px; }
.modal-body { padding: 30px 20px; }
.fade-scale {
  transform: scale(0);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

/* Other Area Click */
.otherAreaClick { position: fixed; bottom: 20px; left: 20px; background: #fff; border-radius: 50%; width: 60px; height: 60px; z-index: 11; line-height: 50px; text-align: center;display: flex; align-items: center;justify-content: center; box-shadow: 0 8px 15px rgba(0,0,0, .8); transition: background .5s ease;}
.otherAreaClick svg { width: 22px; height: 22px; display: inline-block; fill: #333; transition: all .5s ease;}
.otherAreaClick #view360 { display: none; }
.otherAreaClick.active { background: #ffc81b; }
.otherAreaClick.active svg { fill:#fff; width: 28px; height: 28px;}
.otherAreaClick.active #view360 { display: inline-block; }
.otherAreaClick.active #viewOther { display: none; }

.newSliderSection { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%;background-repeat: no-repeat !important; background-position: center center !important; background-size: cover !important; transition: all .5s ease; background: #000; opacity: 0; transition:opacity .5s ease; }
.newSliderSection.active { opacity: 1;transition:opacity .5s ease;}
.newSliderSection .newSlide { float: left; width: 25%; position: relative; height: 100%; display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; background-repeat: no-repeat !important; background-size: cover !important; color: #fff; transition: background-image .5s ease;}

.newSliderSection .newSlide:first-child { background-position: center center !important; }
.newSliderSection .newSlide:nth-child(2) { background-position:  32% 50% !important; }
.newSliderSection .newSlide:nth-child(3) { background-position:  25% 50% !important; }
.newSliderSection .newSlide:nth-child(4) { background-position: 77% 50% !important; }
.newSliderSection .newSlide:after {position: absolute; content: ""; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; background: #000; opacity: .4; transition: all .5s ease; }
/*
.newSliderSection .newSlide:nth-child(2):after {opacity: .3; }
.newSliderSection .newSlide:nth-child(3):after {opacity: .1; }
.newSliderSection .newSlide:nth-child(4):after {opacity: .3;}
*/
.newSliderSection .newSlide.noBg { background:transparent !important; }
.newSliderSection .newSlide:hover:after { opacity: .1; }
.newSliderSection .newSlide .content { position: relative;z-index: 1; }
.newSliderSection .newSlide h2 { font-size: 48px; text-transform: uppercase;font-family: 'Oswald', sans-serif; font-weight: 400; opacity: 1; transition:font-size .5s ease;  }
.newSliderSection .newSlide h4 { font-size: 18px; font-weight:300;transition: all .5s ease;  opacity: 1; }

.newSliderSection .newSlide:hover h2 { font-size: 52px;}
.newSliderSection .newSlide:hover h4 { margin-bottom: 30px; opacity: 1;}
.newSliderSection .newSlide.overlay h2, .newSliderSection .newSlide.overlay h4 { opacity: .5;  }
.newSliderSection .newSlide a {  display: inline-block; height: 0; overflow: hidden; line-height: 36px; padding: 0 20px; font-size: 14px; text-transform: uppercase; color: #fff; border: solid 2px #fff; height: 40px; opacity: 0; font-weight: 400;  transition: all .5s ease; }
.newSliderSection .newSlide:hover a {  margin-top: 30px; opacity: 1; }


#bars {
    height: 30px;
    display: inline-block;
    width: 40px;
    position: relative;
    cursor: pointer;
}
.bar {
   background: #fff;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 2px;      
    animation: sound 0ms -800ms linear infinite alternate;
}
.bar.enable { animation: none; }

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; height: 20px; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms;  height: 6px;}
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; height: 22px; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms;  height: 12px;}
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms;  height: 8px;}
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms;  height: 10px;}
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms;  height: 16px;}

#myAudio { position: fixed; bottom: 0; left: 0; z-index: -1; }